
@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url("./desk.jpg");
}

.main{
  background: #ccc;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge{
  width: 96px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  border-radius:100px;
  top: -15px;
  left: 40%;
}
.clock{
  background: #EBEBEB;
  text-align: center;
  font-size: 40px;
  height: 100%;
  padding: 30px;
  font-family: Orbitron;
  border-radius: 4px;
}
